*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url('sec.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 90vh;    
    color: rgb(200, 255, 0);
    font-weight: bold;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
}
#time
{
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
}